@use "./general.scss";
@use "./navbars.scss";
@use "./positions.scss";
@use "./effectsandcolors.scss";
@use "./containersandspace.scss";
@use "./hero.scss";
@use "./cards.scss";


main {
    z-index: 100;
}

/*4. CONTAINERS*/
.cont {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}





/*9. OTHER*/