.bg-exclusive {
    background-image: url("../images/heroimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero-exclusive {
    position: static; 
}